
@{
    ViewBag.Title = "Index";
}


@section styles{

    @Styles.Render("~/assets/template/date/css")
}
<div class="row">
    <div class="col-12">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Control de Eventos</div>
                <div class="ibox-tools">
                    <button class="btn btn-sm btn-primary" id="btnBuscarEventos">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Buscar
                    </button>
                    <button class="btn btn-sm btn-primary" id="btnLimpiarEventos">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                        Limpiar
                    </button>
                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                </div>
            </div>
            <div class="ibox-body">
                <div class="form-row">
                    <div class="form-group form-group-date col-sm-6 col-xl-4">
                        <label>Fecha Desde</label>
                        <div class="input-group date">
                            <input type="text" class="form-control" readonly id="dtpFechaDesde" />
                            <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group form-group-date col-sm-6 col-xl-4">
                        <label>Fecha Hasta</label>
                        <div class="input-group date">
                            <input type="text" class="form-control" readonly id="dtpFechaHasta" />
                            <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-6 col-xl-4">
                        <label>Area Tematica </label>
                        <select class="form-control" id="ddlAreaTematica" name="CodAreaTematica"></select>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table" id="tblEventos">
                        <thead>
                            <tr>
                                <th class="tbl-cell-sm"></th>
                                <th>
                                    Cod
                                </th>
                                <th class="tbl-cell-lg">
                                    Fecha y Hora
                                </th>
                                <th>
                                    Evento
                                </th>
                                <th>
                                    Tematica
                                </th>
                                <th class="tbl-cell-lg">
                                    Descripcion
                                </th>
                                <th>
                                    Expositor
                                </th>
                                <th>
                                    Limete
                                </th>
                                <th>
                                    Disponible
                                </th>
                                <th class="tbl-cell-lg">
                                    Lugar Evento
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="col-12">
        <div class="ibox mb-2">
            <div class="ibox-head">
                <div class="ibox-title">Participante en Evento: <span id="spanNombreEvento"></span> </div>
                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
            </div>
            <div class="ibox-body">
                <div class="table-responsive">
                    <table class="table" id="tblParticipantes">
                        <thead>
                            <tr>
                                <th>
                                    Cod
                                </th>
                                <th class="tbl-cell-md">
                                    Nombres
                                </th>
                                <th class="tbl-cell-md">
                                    Apellidos
                                </th>
                                <th>
                                    Dni
                                </th>
                                <th class="tbl-cell-md">
                                    Tipo
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th class="tbl-cell-lg">
                                    Direccion
                                </th>
                                <th>
                                    Distrito
                                </th>
                                <th>
                                    Telefono
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/assets/template/date/js")

    <script>
        $(document).ready(function () {
            let el_btnBuscarEvento = $('#btnBuscarEventos'),
                el_btnLimpiarEventos = $('#btnLimpiarEventos'),
                el_tblEventos = $('#tblEventos'),
                el_ddlAreaTematica = $('#ddlAreaTematica'),
                el_dtpFechaDesde = $('#dtpFechaDesde'),
                el_dtpFechaHasta = $('#dtpFechaHasta'),
                el_tblParticipantes = $('#tblParticipantes'),
                el_spanNombreEvento = $('#spanNombreEvento');

            //===============================Cargar Area Tematica====================================
            $.ajax({
                data: {},
                type: "GET",
                dataType: "json",
                url: "@Url.Action("lista", "AreaTematica")",
            })
             .done(function (data, textStatus, jqXHR) {
                 let itemsAreas = ``;

                 itemsAreas += `<option value="0">Seleccione</option>`;
                 $.each(data, function (index, value) {
                     itemsAreas += `<option value="${value.CodAreaTematica}">${value.NombreAreaTematica}</option>`;
                 });
                 el_ddlAreaTematica.html(itemsAreas);
                 //console.log(data);
             })
             .fail(function (jqXHR, textStatus, errorThrown) {
                 console.log("La solicitud a fallado: " + textStatus);
             });


            //=======================================Buscar Eventos=============================================
            el_btnBuscarEvento.on('click', function () {
                let dataSearch = {},
                    rows = '';

                dataSearch.CodAreaTematica = el_ddlAreaTematica.val();

                if (el_dtpFechaDesde.val() != '') dataSearch.fechaDesde = el_dtpFechaDesde.val();

                if (el_dtpFechaHasta.val() != '') dataSearch.fechaHasta = el_dtpFechaHasta.val();

                $.ajax({
                    data: dataSearch,
                    type: "POST",
                    dataType: "json",
                    url: "@Url.Action("searhList","Evento")",
                })
             .done(function (data, textStatus, jqXHR) {

                 $.each(data, function (index, value) {
                     let url = "@Url.Action("Create", "EventoParticipante", new { id="param-id"})";
                     url = url.replace("param-id", value.CodEvento);

                     rows += `<tr data-CodEvento = "${value.CodEvento}" data-NombreEvento = "${value.NombreEvento}" data-FechaEvento = "${value.FechaEventoString}"  data-NombreAreaTematica = "${value.AreaTematica.NombreAreaTematica}">
                                <td>
                                    <a href="${url}" class ="btn btn-outline-success seleccionar-evento" >
                                        <i class ="fa fa-user-plus" aria-hidden="true"></i>
                                    </a>

                                    <button type="button" class ="btn btn-outline-primary seleccionar-evento">
                                        <i class ="fa fa-search-plus" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>${value.CodEvento}</td>
                                <td>${value.FechaEventoString}</td>
                                <td>${value.NombreEvento}</td>
                                <td>${value.AreaTematica.NombreAreaTematica}</td>
                                <td>${value.DescripcionEvento}</td>
                                <td>${value.Expositor}</td>
                                <td>${value.LimiteParticipantes}</td>
                                <td>${value.LugaresDisponibles}</td>
                                <td>${value.LugarEvento}</td>
                            </tr>`;
                 });
                 //console.log(data);

                 el_tblEventos.find('>tbody').html(rows);
             })
             .fail(function (jqXHR, textStatus, errorThrown) {
                 console.log("La solicitud a fallado: " + textStatus);
             });
            });

            //==========================================Limpiar Eventos==========================================
            el_btnLimpiarEventos.on('click', function () {

                el_dtpFechaDesde.val('');
                el_dtpFechaHasta.val('');
                el_ddlAreaTematica.val('0');
                el_tblEventos.find('>tbody').html('');
                el_spanNombreEvento.text('');
                el_tblParticipantes.find('>tbody').html('');
            });

            //==================================Seleccionar Evento============================================
            el_tblEventos.on('click', '.seleccionar-evento', function () {
                let rowSelected = $(this).parent().parent(),
                    rows='';

                el_tblEventos.find('tr').removeClass('table-info');
                rowSelected.addClass('table-info');

                el_spanNombreEvento.text(rowSelected.attr('data-NombreEvento'));
                //console.log(rowSelected);

                $.ajax({
                    data: { codEvento: rowSelected.attr('data-codEvento') },
                    type: "POST",
                    dataType: "json",
                    url: "@Url.Action("searhListPorEvento", "Participante")",
                })
                 .done(function (data, textStatus, jqXHR) {

                     $.each(data, function (index, value) {

                         rows += `<tr>
                                    <td>${value.CodParticipante}</td>
                                    <td>${value.Nombres}</td>
                                    <td>${value.Apellidos}</td>
                                    <td>${value.Dni}</td>
                                    <td>${value.TipoParticipante.NombreTipoParticipante}</td>
                                    <td>${value.Correo}</td>
                                    <td>${value.Direccion}</td>
                                    <td>${value.Distrito}</td>
                                    <td>${value.Telefono}</td>
                                </tr>`;
                     });
                     //console.log(data);

                     el_tblParticipantes.find('>tbody').html(rows);
                 })
                 .fail(function (jqXHR, textStatus, errorThrown) {
                     console.log("La solicitud a fallado: " + textStatus);
                 });
            });

        });
    </script>
}
