@model WebEventos.SRefParticipante.Participante

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-12">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">
                    Detalle Participante
                </div>
            </div>

            <div class="ibox-body">
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 mb-0 font-bold ">Codigo</label>
                            <div class="col-sm-8">
                                :@Html.DisplayFor(model => model.CodParticipante)
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-6">
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 mb-0 font-bold ">Nombre</label>
                            <div class="col-sm-8">
                                : @Html.DisplayFor(model => model.Nombres)
                            </div>
                        </div>
                    </div>



                    <div class="form-group col-md-6">
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 mb-0 font-bold ">Apellido</label>
                            <div class="col-sm-8">
                                : @Html.DisplayFor(model => model.Apellidos)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 mb-0 font-bold ">Dni</label>
                            <div class="col-sm-8">
                                :@Html.DisplayFor(model => model.Dni)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 mb-0 font-bold ">Tipo Participante</label>
                            <div class="col-sm-8">
                                : @Html.DisplayFor(model => model.TipoParticipante.NombreTipoParticipante)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 mb-0 font-bold ">correo</label>
                            <div class="col-sm-8">
                                :@Html.DisplayFor(model => model.Correo)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 mb-0 font-bold ">Direccion</label>
                            <div class="col-sm-8">
                                : @Html.DisplayFor(model => model.Direccion)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 mb-0 font-bold ">Distrito</label>
                            <div class="col-sm-8">
                                :@Html.DisplayFor(model => model.Distrito)
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 mb-0 font-bold ">Fecha Nacimiento</label>
                            <div class="col-sm-8">
                                : @Html.DisplayFor(model => model.FechaNac)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 mb-0 font-bold ">Telefono</label>
                            <div class="col-sm-8">
                                :@Html.DisplayFor(model => model.Telefono)
                            </div>
                        </div>
                    </div>
                </div>


                <hr />
                <div class="d-flex justify-content-between">
                    @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-info fa fa-reply" })
                    @Html.ActionLink("Edit", "Edit", new { id = Model.CodParticipante }, new { @class = "btn btn-primary fa fa-pencil" })

                </div>

            </div>
        </div>
    </div>
</div>



