@model IEnumerable<WebEventos.SRefParticipante.Participante>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Lista de Participantes</div>
                @Html.ActionLink(" Nuevo", "Create", null, new { @class = "btn btn-success fa fa-file" })
            </div>

            <div class="ibox-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Acciones</th>
                            <th>
                                Cod
                            </th>
                            <th>
                                Nombres
                            </th>
                            <th>
                                Apellidos
                            </th>
                            <th>
                                Dni
                            </th>

                            <th>
                                Tipo Participante
                            </th>
                            <th>
                                Correo
                            </th>
                            <th>
                                Direccion
                            </th>
                            <th>
                                Distrito
                            </th>

                            <th>
                                FechaNac
                            </th>

                            <th>
                                Telefono
                            </th>

                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(" ", "Details", new { id = item.CodParticipante }, new { @class = "btn btn-outline-warning fa fa-search-plus" })
                                    @Html.ActionLink(" ", "Edit", new { id = item.CodParticipante }, new { @class = "btn btn-outline-primary fa fa-pencil" })
                                    @Html.ActionLink(" ", "Delete", new { id = item.CodParticipante }, new { @class = "btn btn-outline-danger fa fa-trash" })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodParticipante)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombres)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellidos)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dni)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CodTipoParticipante)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Correo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Distrito)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaNac)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>

                            </tr>
                        }

                    </table>

                </div>

            </div>

        </div>

    </div>
</div>
