@model IEnumerable<WebEventos.SRefAreaTematica.AreaTematica>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12 col-lg-10 col-xl-8">
        <div class="ibox">
            <div class="ibox-head d-flex justify-content-between">
                <div class="ibox-title">Area Tematica</div>
                    @Html.ActionLink(" Nuevo", "Create", null, new { @class = "btn btn-success fa fa-file" })
                </div>
            <div class="ibox-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Acciones</th>
                                <th>Codigo</th>
                                <th>Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(" ", "Details", new { id = item.CodAreaTematica }, new { @class = "btn btn-outline-warning fa fa-search-plus" })
                                        @Html.ActionLink(" ", "Edit", new {  id=item.CodAreaTematica }, new { @class = "btn btn-outline-primary fa fa-pencil" })
                                        @Html.ActionLink(" ", "Delete", new { id = item.CodAreaTematica }, new { @class = "btn btn-outline-danger fa fa-trash" })
                                    </td>
                                    <td>@item.CodAreaTematica</td>
                                    <td>@item.NombreAreaTematica</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
